# Analisis y limpieza de datos relacionados a los padres del alumno

### Librerias necesarias

In [130]:
import pandas as pd
from Estandarizar import estandarizacion
from Estandarizar_telefono import limpiar_numero

### Lectura del archivo como un dataframe

In [131]:
#Leer csv
df = pd.read_csv("Alumnos y padres parcial.csv")

### Visualizacion de los datos

In [132]:
df.head()

,clave,nombre_alumno,sexo,domicilio_alumno,colonia_alumno,poblacion_alumno,codigo_postal_alumno,fecha_nacimiento_alumno,nacionalidad,telefono_alumno,...,ocupap,emprep,celularp,telofp,emailp,pedi,telpedi,fecha_inscripcion,plan,edad_alumno
0,380728,Trujano Miranda Jonas,Masculino,5 de Mayo No. 106,Zaragoza,Texcoco. e,56110,2018-02-12,Mexicano,5959541519,...,NaN,NaN,NaN,NaN,NaN,DRA. VERONICA DELADO,5959547699,2022-02-11,B,6
1,375287,San Nicolas Bustamante Santiago,Masculino,Leon Salinas No. 62,Xocotlan,Texcoco. m,56236,2007-04-19,Mexicano,5959543393,...,CONTRATISTA,NaN,5.519882e+09,5519882072,rosamaria-rmbo@gmail.com,DRA. ALEJANDRA MUENCH,5959252210,2022-02-11,B,17
2,375127,San Nicolas Bustamante Estefania,Femenino,Leon Salinas No. 62,Fracc. Molino de fl,Xocotlan. t,56236,2013-03-27,Mexicana,5959543393,...,CONTRATISTA,NaN,5.519882e+09,5519882072,rosamaria.rmbo@gmail.com,DRA. ALEJANDRA MUENCH,5959252210,2022-02-11,B,11
3,372346,Vizuet Gomez Diego Emiliano,Masculino,Circuito Miltenco No. 4,Cabera Municipal,Chicoloapa,56370,2013-07-15,Mexicano,5510491891,...,PROFESOR JUBILADO,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-11,B,11
4,381125,Aguilar Vazquez Victoria Alejandra,Femenino,Fray Pedro de Gante No. 238 Int,San Pedro,Texcoco,56105,2018-01-12,Mexicana,5956888439,...,ABOGADO/SERVIDOR PUB,NaN,NaN,NaN,harrohari@gmail.com,DR. GO0NGORA,5959555296,2022-02-14,B,6

## <font color="#f9a177">"padre", "madre", "pedi"</font>

### Interpretacion

- padre: Nombre del padre
- madre: Nombre de la madre
- pedi: Nombre del pediatra

**Procedimiento :** Se cambiara el nombre de las columnas para una mejor comprension.

In [133]:
df.rename(columns={'padre': 'nombre_padre', 'madre': 'nombre_madre', 'pedi': 'nombre_pediatra'}, inplace=True)

### Tipo de dato

In [134]:
#Vamos a ver si hay datos de diferentes tipos en 'nombre_madre'
df['nombre_madre'].apply(lambda x: type(x)).value_counts()

nombre_madre
<class 'str'>      427
<class 'float'>      4
Name: count, dtype: int64

In [135]:
#Vamos a ver si hay datos de diferentes tipos en 'nombre_padre'
df['nombre_padre'].apply(lambda x: type(x)).value_counts()

nombre_padre
<class 'str'>      409
<class 'float'>     22
Name: count, dtype: int64

In [136]:
#Vamos a ver si hay datos de diferentes tipos en 'nombre_pediatra'
df['nombre_pediatra'].apply(lambda x: type(x)).value_counts()

nombre_pediatra
<class 'str'>      352
<class 'float'>     79
Name: count, dtype: int64

**Procedimiento :** Se cambiara a str las columnas

In [137]:
df['nombre_madre'] = df['nombre_madre'].astype(str)
df['nombre_padre'] = df['nombre_padre'].astype(str)
df['nombre_pediatra'] = df['nombre_pediatra'].astype(str)

### Valores faltantes

In [138]:
#Valores igual a "Nan"
df_nan = df[df['nombre_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [139]:
nulos = df['empresa_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'empresa_padre': {nulos + len(df_nan)}")

KeyError: 'empresa_padre'

In [140]:
#Valores igual a "Nan"
df_nan = df[df['nombre_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]

In [141]:
#Valores nulos
nulos = df['nombre_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'nombre_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'nombre_padre': 22

In [142]:
#Valores igual a "Nan"
df_nan = df[df['nombre_pediatra'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]

In [143]:
#Valores nulos
nulos = df['nombre_pediatra'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'nombre_pediatra': {nulos + len(df_nan)}")

Valores faltantes en la columna 'nombre_pediatra': 79

**Procedimiento :** Se reemplazara los valores faltantes

'nombre_padre'

In [144]:
#Reemplazamos donde sea nulo por 'Nombre Desconocido'
df['nombre_padre'] = df['nombre_padre'].fillna('Nombre Desconocido')
#Reemplazamos donde sea Nan por 'Nombre Desconocido'
df['nombre_padre'] = df['nombre_padre'].replace({'Nan': 'Nombre Desconocido', 'nan': 'Nombre Desconocido', 'NaN': 'Nombre Desconocido', '': 'Nombre Desconocido'})

'nombre_madre'

In [145]:
#Reemplazamos donde sea nulo por 'Nombre Desconocido'
df['nombre_madre'] = df['nombre_madre'].fillna('Nombre Desconocido')
#Reemplazamos donde sea Nan por 'Nombre Desconocido'
df['nombre_madre'] = df['nombre_madre'].replace({'Nan': 'Nombre Desconocido', 'nan': 'Nombre Desconocido', 'NaN': 'Nombre Desconocido', '': 'Nombre Desconocido'})

'nombre_pediatra'

In [146]:
#Reemplazamos donde sea nulo por 'Nombre Desconocido'
df['nombre_pediatra'] = df['nombre_pediatra'].fillna('Nombre Desconocido')
#Reemplazamos donde sea Nan por 'Nombre Desconocido'
df['nombre_pediatra'] = df['nombre_pediatra'].replace({'Nan': 'Nombre Desconocido', 'nan': 'Nombre Desconocido', 'NaN': 'Nombre Desconocido', '': 'Nombre Desconocido'})

### Formato de datos

**Procedimiento :** Se estandarizara los datos de las columna importando la funcion "estandarizacion" del archivo "Estandarizar.py" (En el archivo se encuentra el proceso)

In [147]:
df['nombre_madre'] = df['nombre_madre'].apply(estandarizacion)
df['nombre_padre'] = df['nombre_padre'].apply(estandarizacion)
df['nombre_pediatra'] = df['nombre_pediatra'].apply(estandarizacion)

**Resultado**

In [148]:
df[['nombre_madre', 'nombre_padre', 'nombre_pediatra']].head()

,nombre_madre,nombre_padre,nombre_pediatra
0,Gloria Catalina Trujano Mirand,Nombre Desconocido,Dra. Veronica Delado
1,Rosa Maria Bustamante Oseguera,Carlos San Nicolas Miranda,Dra. Alejandra Muench
2,Rosa Maria Bustamante Oseguera,Carlos San Nicolas Bustamante,Dra. Alejandra Muench
3,Maria Del Carmen Tirado a. .,Jose Pedro Vizuet Lopez,Nombre Desconocido
4,Diana Laura Vazquez Mendez,Allson Hari Aguilar Trujillo,Dr. Go0ngora

## <font color="#f9a177">"ocupam", "ocupap", "emprep", "emprem"</font>

### Interpretacion

- ocupam: Ocupacion de la madre
- ocupap: Ocupacion del padre
- emprep: Empresa donde trabaja el padre
- emprem: Empresa donde trabaja la madre
-

**Procedimiento :** Se cambiara el nombre de las columnas para una mejor comprension.

In [149]:
df.rename(columns={'ocupam': 'ocupacion_madre', 'ocupap': 'ocupacion_padre', 'emprep': 'empresa_padre', 'emprem': 'empresa_madre'}, inplace=True)

### Tipo de dato

In [150]:
#Vamos a ver si hay datos de diferentes tipos en 'ocupacion_madre'
df['ocupacion_madre'].apply(lambda x: type(x)).value_counts()

ocupacion_madre
<class 'str'>      418
<class 'float'>     13
Name: count, dtype: int64

In [151]:
#Vamos a ver si hay datos de diferentes tipos en 'ocupaion_padre'
df['ocupacion_padre'].apply(lambda x: type(x)).value_counts()

ocupacion_padre
<class 'str'>      402
<class 'float'>     29
Name: count, dtype: int64

In [152]:
#Vamos a ver si hay datos de diferentes tipos en 'empresa_padre'
df['empresa_padre'].apply(lambda x: type(x)).value_counts()

empresa_padre
<class 'str'>      319
<class 'float'>    112
Name: count, dtype: int64

In [153]:
#Vamos a ver si hay datos de diferentes tipos en 'empresa_madre'
df['empresa_madre'].apply(lambda x: type(x)).value_counts()

empresa_madre
<class 'str'>      312
<class 'float'>    119
Name: count, dtype: int64

**Procedimiento :** Se cambiara a str las columnas

In [154]:
df['ocupacion_madre'] = df['ocupacion_madre'].astype(str)
df['ocupacion_padre'] = df['ocupacion_padre'].astype(str)
df['empresa_padre'] = df['empresa_padre'].astype(str)
df['empresa_madre'] = df['empresa_madre'].astype(str)

### Valores faltantes

In [155]:
#Valores igual a "Nan"
df_nan = df[df['ocupacion_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [156]:
nulos = df['ocupacion_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'ocupacion_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'ocupacion_padre': 29

In [157]:
#Valores igual a "Nan"
df_nan = df[df['ocupacion_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [158]:
nulos = df['ocupacion_madre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'ocupacion_madre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'ocupacion_madre': 13

In [159]:
#Valores igual a "Nan"
df_nan = df[df['empresa_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [160]:
nulos = df['empresa_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'empresa_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'empresa_padre': 112

In [161]:
#Valores igual a "Nan"
df_nan = df[df['empresa_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [162]:
nulos = df['empresa_madre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'empresa_madre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'empresa_madre': 119

**Procedimiento :** Se reemplazara los valores faltantes

'ocupacion_padre'

In [163]:
#Reemplazamos donde sea nulo por 'Ocupacion Desconocida'
df['ocupacion_padre'] = df['ocupacion_padre'].fillna('Ocupacion Desconocida')
#Reemplazamos donde sea Nan por 'Ocupacion Desconocida'
df['ocupacion_padre'] = df['ocupacion_padre'].replace({'Nan': 'Ocupacion Desconocida', 'nan': 'Ocupacion Desconocida', 'NaN': 'Ocupacion Desconocida', '': 'Ocupacion Desconocida'})

'ocupacion_madre'

In [164]:
#Reemplazamos donde sea nulo por 'Ocupacion Desconocida'
df['ocupacion_madre'] = df['ocupacion_madre'].fillna('Ocupacion Desconocida')
#Reemplazamos donde sea Nan por 'Ocupacion Desconocida'
df['ocupacion_madre'] = df['ocupacion_madre'].replace({'Nan': 'Ocupacion Desconocida', 'nan': 'Ocupacion Desconocida', 'NaN': 'Ocupacion Desconocida', '': 'Ocupacion Desconocida'})

'empresa_padre'

In [165]:
#Reemplazamos donde sea nulo por 'Empresa Desconocida'
df['empresa_padre'] = df['empresa_padre'].fillna('Empresa Desconocida')
#Reemplazamos donde sea Nan por 'Empresa Desconocida'
df['empresa_padre'] = df['empresa_padre'].replace({'Nan': 'Empresa Desconocida', 'nan': 'Empresa Desconocida', 'NaN': 'Empresa Desconocida', '': 'Empresa Desconocida'})

'empresa_madre'

In [166]:
#Reemplazamos donde sea nulo por 'Empresa Desconocida'
df['empresa_madre'] = df['empresa_madre'].fillna('Empresa Desconocida')
#Reemplazamos donde sea Nan por 'Empresa Desconocida'
df['empresa_madre'] = df['empresa_madre'].replace({'Nan': 'Empresa Desconocida', 'nan': 'Empresa Desconocida', 'NaN': 'Empresa Desconocida', '': 'Empresa Desconocida'})

### Formato de datos

**Procedimiento :** Se estandarizara los datos de las columna importando la funcion "estandarizacion" del archivo "Estandarizar.py" (En el archivo se encuentra el proceso)

In [167]:
df['ocupacion_madre'] = df['ocupacion_madre'].apply(estandarizacion)
df['ocupacion_padre'] = df['ocupacion_padre'].apply(estandarizacion)
df['empresa_padre'] = df['empresa_padre'].apply(estandarizacion)
df['empresa_madre'] = df['empresa_madre'].apply(estandarizacion)
#Hacemos mayuscula la letra antes de un caracter '.' en la columna 'empresa_padre'
df['empresa_padre'] = df['empresa_padre'].apply(lambda x: x.replace('. ', '.').title())
#Hacemos mayuscula la letra antes de un caracter '.' en la columna 'empresa_padre'
df['empresa_madre'] = df['empresa_madre'].apply(lambda x: x.replace('. ', '.').title())

**Observacion :** Se hizo un paso adicional en las empresas ya que se suele abreviar el nombre

In [168]:
#Hacer mayuscula el caracter antes de cada '.' en la columna'empresa_padre'
df['empresa_padre'] = df['empresa_padre'].apply(lambda x: '.'.join([i.title() for i in x.split('.')]))

**Resultado**

In [169]:
df['ocupacion_madre'].unique()

array(['Lic. en Derecho', 'Lae', 'Lic. . Admon. de a',
       'Profesora Jubilada', 'Enfermera /docente', 'Ama d Ecasa',
       'Empleada', 'Docente/contador Pub', 'Docente', 'Relaciones Comerc',
       'Profesor', 'Comerciante', 'Lic. en Turismo', 'Ama de Casa',
       'Directora', 'Ing. Bioquimico', 'Contador Publico',
       'Comerciante /ing. en', 'Odontologa', 'Lic. . Admon.', 'Medico',
       'Nercadotecnia', 'Optometrista', 'Administrativo',
       'Lic. Administracion', 'Dra. en Ciencias en d',
       'Licenciatura en Moda', 'Lic. en Educacion pr', 't. Laboratorista',
       'Administradora', 'Profesional', 'Cir Dentista Maxl', 'Contadora',
       'Profesor Investigado', 'Ing. Petrolero', 'Hogar',
       'Maestra de Proyes', 'Profesora', 'Admon. de Empresas',
       'Lic. en Economica', 'Ingeniero Civil', 'Enfermeria',
       'Medico Legista', 'Ocupacion Desconocida', 'Secretaria Ejecutiva',
       'Maestra', 'Lic. en Mercadotecnia', 'Lic. en Mercadotecni',
       'Dentista', 'Ortodoncista', 'Ing. Industrial', 'Lic. Admon',
       'Licenciatura', 'Licenciada/ama de ca', 'Pedagoga', 'Estudiante',
       'Lic. en Admon. Empre', 'Economista/estadista', 'Ingeniera',
       'Empresaria', 'Doctorado', 'Lic. Com. Int', 'Artusta Plastica',
       'Administradora de em', 'Laet', 'Lic. Turismo/ Docent',
       'Nutricion Clinica', 'Ginecologa', 'Odontopediatra',
       'Psiconalista', 'Abogada', 'Abogado', 'Ingeniera Civil Proy',
       'Servidor Publico', 'Admon. Empresas', 'Administrador de Emp',
       'Enfermera', 'Lic. en Enfermer', 'Mc. en Fitopatologia',
       'Secretaria', 'Llic. Turismo', 'Ing. en Sistemas',
       'Ing. Quimico Industr', 'Administracion', 'Lic. Admon. Industrial',
       'Lic. Contaduria', 'Lic. Relaciones c', 'Lic. Informatica',
       'Empleado (servidor p', 'Psicologa', 'Lic. en Administraci',
       'Estudante', 'Diseñadora Grafi', 'Lic. Relaciones', 'Ing. Civil',
       'Ing. Agronomo', 'Cosmetologa', 'Comercio', 'Diseñadora de Modas',
       'Quimica Farmaceu', 'Licenciada', 'Estudiante S(univers',
       'Cosmiatra', 'Medico Dermatologo', 'Licenciada en Enferm',
       'Preparatoria', 'Licienciatura', 'Lic. Terapia Fisa', 'Diseñadora',
       'Lic. Ciencias Politic', 'Lic. Negocios Inter',
       'Maestra en Ciencias', 'Lic. Medicina', 'Arquitecta',
       'Lic. en Contaduria p', 'Lic. en Matematicas', 'Lic en Educacion',
       'Ventas', 'Lic. Mkt Asesor de', 'Empleada Administrat',
       'Supervisor de Operac', 'Odontologa/maestria',
       'Lic. Relaciones Inte', 'Criminalista/empresa', 'Medico Pediatra',
       'Lic. en Relaciones i', 'Lic. en Contaduria', 'Servidor Pubico',
       'Tecnico Superior', 'Tec. Contabilidad', 'Lic. en Sistemas',
       'Medico Gral.', 'Diseñarora Floral', 'Maestria Derecho',
       'Maestria en Dereh', 'Instructora de Natac',
       'Lic. Contaduria y fi', 'Maestra de Ingles', 'Lic. en r. i.',
       'Administrado de s', 'Podooga', 'Lic. en Comercio', 'Trabajador',
       'Lic. en Comercio Int', 'Lic. . en Enferfea', 'Maquillista',
       'Sobre Cargo', 'Sobracargo', 'Sobrecargo', 'Ing. Forestal',
       'Enfermera Especialis', 'Licenciatura Mkt.', 'Maestra Preescolar'],
      dtype=object)

In [170]:
df['ocupacion_padre'].unique()

array(['Ocupacion Desconocida', 'Contratista', 'Profesor Jubilado',
       'Abogado/servidor Pub', 'Empresario', 'Insgeniero',
       'Lic. Educacion Físic', 'Docente', 'Empleado', 'Profesor',
       'Psicologo', 'Empleago', 'Administrador', 'Posgrado',
       'Ing. Quimico', 'Lic. en Administraci', 'Ing. Mecanico / Come',
       'Medico', 'Ginecologoobstreta', 'Comerciante', 'Lic. Mercadotecn',
       'Economista', 'Cirujano Dentista', 'Lae', 'Lic. Diseño Grafi',
       'Camarografo', 'Anesteciologo', 'Dentista Ortodona',
       'Profesorinvestigado', 'Profesor Investigado', 'Electricista',
       'Ing. Petrolero', 'Jubilado', 'Servidor Publico',
       'Ing. en Comunicacion', 'Ing. Comunicaciones y',
       'Ing. en Sis Computac', 'Ing. Irrigacion', 'Contador',
       'Administrador Mca', 'Ingeniero Civil', 'Tecnico Radiolog',
       'Obrero', 'Empleaco', 'Lic. en Computacion', 'Abogado',
       'Ing. en Computo', 'Ing. Agronomo', 'Medico Especialista',
       'Mecanico en Aviacion', 'Dentista', 'Ing. Biomedico',
       'Licenciatura', 'Lic. Administracion', 'Tutor Abueno Paterno',
       'Comerciante (mercado', 'Economista/demagrafo', 'Empresaria',
       'Doctorado', 'Contador Publico', 'Medico Veterinario z', 'Chef',
       'Ingeniero', 'Lic. en Derecho', 'Lic. Informatica Adm',
       'Empresario Ing. Auto', 'Ginecologo', 'Arquitecto', 'Maestro',
       'Ing. Civil', 'Medico Pediatra', 'Cirujanocoloproctolo',
       'Docente/psicologo', 'Dr. en Psicologia', 'Ing. en Sistemas',
       'Ing en Sistemas', 'Actuario', 'Constructor',
       'Licenciado en Relaci', 'Ing. Mecanico', 'Licenciado', 'Hogar',
       'Gestor Funerario', 'Medico Posgrado', 'Tecnico Superior',
       'Medico Veterinario', 'Diseñador Grafic', 'Micro Empresaro',
       'Lic. Admon. Indust', 'Ing. Industrial', 'Programador',
       'Odontologo', 'Empleado Gob.', 'Turismo', 'Lic. en Diseño Grafi',
       'Lic. Relaciones i.', 'Mecanico', 'Obrero Mecanico',
       'Director en Ciencias', 'Comercio', 'Em´pleado',
       'Ing. Agronomo/doctor', 'Finado', 'Comerciantes',
       'Lic. Relaciones Inte', 'Lic. en Rel. Interna', 'Admon. Ing.',
       'Medico Radiologo Esp', 'Medico/radiologo', 'Ingenieria',
       'Medico Ortopedis', 'Doctor en Ciencias', 'Empleado Del Gob',
       'Lic. Entrenamiento d', 'Ing. Forestal', 'Admon. Empresas',
       'Operador', 'Ing. Desarrollo de so', 'Abogado/empleado Gob',
       'Comerc9iante', 'Maestria', 'Administrador Educat',
       'Lic. en Admon.', 'Transportista', 'Lic. Ad. Empresas',
       'Medico Internista', 'Ingeniero en Sistema',
       'Licenciado en Derech', 'Piloto Aviador', 'Textilero',
       'Preparatoria', 'Lic. Informatica', 'Ing. en Audio', 'Mercadologo',
       'Ing. Topografo', 'Medico Veterinaro', 'Policia',
       'Cirujano Dentist', 'Ing. Mecanico Indust', 'Ing. Electricista',
       'Ing Quimico', 'Plubicista', 'Lic. en Admon. e', 'Lic. en Turismo',
       'Comerciantge', 'Quimico', 'Conde', 'Licenciado en Enferm',
       'Adminstrador', 'Lic. Admon. Emprs', 'Ingeniero Mecanico',
       'Lic. Administrac', 'Empreado de Gobierno', 'Medico Cirujano'],
      dtype=object)

In [171]:
df['empresa_padre'].unique()

array(['Empresa Desconocida', 'Sep (Jubilado)', 'Sep',
       'Web Diseño Empresari', 'Esc.Prep.Of.307', 'Uaem',
       'As Promotores Profes', 'Dnm Farmaceutsica', 'Empresaria',
       'Prod Agrop Tepexpan.', 'Independiente', 'Abastecedora Esla.S.',
       'Imss/Isem', 'Hospital Atenas Texc', 'Hosp Juarez De Mexic',
       'Pasteleria Dulban', 'Agente De Seguros', 'Propia', 'Uach',
       'Banco Santander', 'Santander', 'Comercio', 'Televisa', 'Imss',
       'Dental Harmony', 'Acefsa.Sa De Cv', 'Comision Federal De',
       'Comision Federal', 'Pemex', 'Jubilado', 'Gobierno Del Estado',
       'Autoempleado', 'Negocio Propio', 'Conagua.San Juan De',
       'Conacorp Sa De Cv', 'G500 Network', 'Construccion', 'Empleado',
       'Global Gas', 'Camara De Diputados', 'Bbva Bancomer',
       'Lacteos Y Carnes', 'Empresa Propia', 'Consultorio Propio',
       'Mexicana Mro Service', 'Colegio De Postradua', 'Uaem Texcoco',
       'Particular', 'Hospital Gral.Dr.M', 'Diseño Grafico',
       'Casa Garcia', 'Hielo Texcoco', 'Purificadora Masagua',
       'Comerciante', 'Beubelle.Comercializ', 'Central De Abastos',
       'Gobierno', 'Profesor Investigado', 'Moda Sweet',
       'Distribuidora De Pol', 'Instit.Salud Edo.Me',
       'Restaurant La Bahia', 'Grupo Textil Vengali', 'Telcel',
       'Constructora Kasami', 'Constructora Kasami.',
       'Termoformados Starpa', 'Multilog Internacion',
       'Fiscalia Gral.De La', 'Rectificaciones Mend',
       'Isem Instituto Saldu', 'Certimex Agro.S C', 'Empleado Gobierno',
       'Constructora Naoxa I', 'Integracion Profesio', "Huberth'Z",
       'Hosp Santa Coleta', 'Jubilado Por La Uach', 'Consultorio Privado',
       'Docente', 'Diseños Miguelito', 'Dist De Calzado Df',
       'Dist.De Calzado Mar', 'Abc Advanced Bussine',
       'Abc Advanced Busines', 'San Jeronimo Amanalc', 'Fusion Cocoa',
       'Actinver Casa De Bol', 'Starken Group', 'Escuela Ipanti',
       'Ipanti', 'Grupo Maseca (Gruma', 'Ayuntamiento Chicolo', 'Propio',
       'Realty World Aereopu', 'Rubamor Ropa Deporti',
       'Hidroequipo De Orien', 'Hidroequipos De Orie', 'Profededt',
       'Sria.De Gobernacion', 'Sanatorio Espejel', 'Funerario Santa Tere',
       'Inst Politecnico Nac', 'Escuela Ipanti.S.C.', 'Cfe',
       'Gip Y Constructores', 'Grupo De Ingenieros',
       'Fiscalia De La Repub', 'Grupo Coyote', 'Pemex/Supervisor',
       'Bba Bancomer', 'Manufacturas Sonoco', 'Panificadora Catedra',
       'Metalizadora Santiag', 'Empleado Banco', 'Automotriz Tangamang',
       'Danone', 'Maluka', 'Snte', 'K2 Pathering Solutio', "D'Erandi",
       'Consultorio Odongolo', 'Consul Odontologia I',
       'Ostioneria Catedral', 'Universidad Anahuac',
       'Tribunal Superior De', 'Productor Agricola', 'Blancos Magda',
       'Galeria De Historia', 'Sistemas De Segurida',
       'Presidente Cruz Roja', 'Dimsa', 'Colegio De Postgradu',
       'Hotel Posada Del Nar', 'Autoempleo', 'Poripo',
       'Power Global Cargo', 'Manager', 'Dermedical', 'Privada',
       'Servicios Medicos Y', 'Imss Siglo Xxi', 'Grupo Vengali',
       'La Cabaña Del Sazon', 'Particular Clinica D', 'Rommarc',
       'Blue Diamond', 'Finca Texcoco', 'Rancho Las Caballeri',
       'Servicio San Sebasti', 'Romero Romero Y Asoc', 'Policia Federal',
       'Inydes', 'Infonavit', 'Sepomex', 'Sistema P/Desarrollo', 'Telmex',
       'Conacorp.Sa De Cv', 'Odontologo', 'Casas De Belleza San',
       'Productos De Limpiez', 'Ligu Asesoria Fiscal',
       'Ligu Aesoria Fiscal', 'L.A.E.H.', 'Transportronic Expre',
       'Flower Love', 'Hospital Naval De Ve', 'Hp Inc.',
       'Procuraduria Gral De', 'Tribunal Cdmx', 'Servidor Publico',
       'Importadora Mybre.S', 'Textilero', 'Aesmaco', 'Transportes',
       'Corlit.Sa De Cv', 'J&M', 'Telefonos De Mexico',
       'Sria.De Seguridad Ci', 'Mary Fer Fashion', 'Empleado Servidor Pu',
       'Clinica Santa Teresa', 'Auto Partes Fuell In', 'Fuel Autopartes',
       'Aresa', 'Aereomexico', 'Profesor Uach/Unam', 'M.Rey Collection',
       'Tex Motors', 'Casa Museo De Las Pi', 'Grupo Extil Duran S.',
       'Atx Arquitectura Y D', 'Arquitecto', 'Escuela Preparatoria',
       'Altamirano Trailer Y', 'Carrocerias Altamira', 'Aresisa',
       'Particularq', 'Ennovative Solutions', 'Enfermero', 'Sofios',
       'Empleada', 'Innovacionerarantza', 'Innovaciones Arantza',
       'Inovaciones.S.A.De', 'Coorporativo Ambient', 'Gerente De Ventas',
       'Casa Almazan', 'Asia Gold.S.A.De C', 'Minister Garage Tall',
       'Jefe De Administraci', 'Jefe Administrativo', 'Semar',
       'Bbva Mexico', 'Gobierno Del Edo.Mex', 'Fgr',
       'El Original De Texco'], dtype=object)

In [172]:
df['empresa_madre'].unique()

array(['Servicios Admtvos.Pe', 'Empresa Desconocida', 'Abuiela Y Tutora',
       'Uvm/Marie Curie', 'Inmexu', 'Sep', 'Web Diseño Empresari',
       'Esc.Prep.Of.186', 'Negocio Propio', 'Aeromexico',
       'Dnm Farmaceutsica', 'Empresaria', 'Estacionamiento Aym',
       'Inveacdmx', 'Abastecedora Esla.S.', 'Unam',
       'Hospital Atenas Texc', 'Centro Medico Quirur', 'Pemex',
       'Mercadologa', 'Propia', 'Consultorio Dental 2',
       'Senado De La Republi', 'Org.De Las Naciones', 'Comercio',
       'Gobierno De La Ciuda', 'Tecnico Laboratorist', 'Dicam',
       'Administrador', 'Dental Harmony', 'Manofacturas Herca.',
       'Cbt San Diego Y Cbt', 'Cbt San Diego Cbt Ch', 'Independiente',
       'Colegio De Postgradu', 'Ama De Casa', 'Aereomexico', '5959532364',
       'Hogar', 'Uach', 'Cbta No.35', 'Tribunal Superior De',
       'Consultorio Privado', 'Dg Inyecciones.S.A.',
       'Construccion En Proy', 'Imss', 'Fiscalia Gral.De Ju',
       'Esc.Sec.Vicente Gue', 'Escuela Ipanti.S.C.', 'E.O.P.No.270',
       'Dental Health Texcoc', 'Deltal Health Texcoc', 'Indep.',
       'Colegio Rosslan', 'Comerciante', 'Propio', 'Nuevo Ingreso',
       'Colegio Josue Mirlo', 'Beubelle.Comercializ', 'Uach Div.Ciencias',
       'Modalex', 'Profesora', 'Modas Zoe', 'Distribuidora De Pol',
       'Melus Tattoo', 'Jasman Automotriz Sa', 'Grupo Textel Vengali',
       'Contador Publico Ind', 'Gobierno Del Edo.Me', 'Ipanti',
       'Sep/Docente', 'Isem', 'Escuela Ipanti.Sc', 'Clinica Grandes Sonr',
       'Banco Santander', 'Privada Rd Dental', 'Grupo Inmobiliario Y',
       'Imss/Isemym', 'Despacho Propio', 'Emblispark', 'Emblispack',
       'Dist De Calzado Df', 'Dist.De Calzado Df', 'Cmsys Systems',
       'Abc Advanced Busines', 'San Jeronimo Amanalc',
       'Normal De Texcoco', 'Contadora', 'Hica.S.A De C.V.',
       'Consultorio Propio', 'Gobierno Del Estado',
       'Ayuntamiento Chicolo', 'Gob.Del Estado De M',
       'Rubamor Ropa Deporti', 'Hidroequipos De Orie', 'Emiliano Zapata',
       'Colegio Panamericano', 'Centro De Conciliaci', 'Secretaria',
       'Imss/Consultorio Pri', 'Imss Hgz197', 'Amore Boutique',
       'Dif Texcoco', 'Grupo Coyote', '5959227517', 'Escuela Pianti',
       'Marshall', 'Panificadora Catedra', 'Columbia School',
       'P&G Heaith Oficinas', 'Sigena Labs.S.A.De', 'Seiem',
       'Profina.S.A.De C.V.', 'Cbt', 'Cecytem', "D'Erandi", 'Gobierno',
       'Profesionista', 'Venta De A Y B', 'Instit.De La Funcion',
       'Estudiante', 'Consultora De Bellez', 'Constr.Texcocana De',
       'Escuela Ipanti', 'Marlora Churubusco', 'Cosmiotva',
       'Laboratorio Clinico', 'Particular', 'Poder Judicial Del E',
       'Braniff Despachos', 'Goza Mx', 'Pink Cooffe', 'Dermedical',
       'Servicios Medicos Se', 'Preparatoria', 'Imss Siglo Xxi',
       'Negocio Pripio', 'Comercializadora Que', 'U.A.Metropolitana',
       'Empleada Tienda Depa', 'Conscultorio Particu', 'Primaria Federal',
       'C.F.E.', 'Cimmyt', 'Universidad Autonoma', 'Escula Ipanti.S.C.',
       'Artesania', 'Privada', 'Contador Publico', 'Seguros Monterrey',
       'Empleada Administrat', 'Casa De Bellesa San',
       'Viajes El Corte Ingl', "D'Erndi", 'Dental Estudio Molin',
       'Congreso De La Union', 'Casa', 'Transportronic Expre',
       'Flower Love', 'Empresa Propia', 'Centro Medico Naval',
       'Maripower', 'Gobierno Federal', 'Isem*/H.Laytto.Chia', 'Aesmaco',
       'Psicologa', 'Licenciatura', 'Instit.Moderno Teoti',
       'Servidor Publico', 'Mary Fer Fashion', 'Empleado Servidor P',
       'Fuel Auto Partes', 'Zapateria Jalisco', 'Weeklock', 'Empotex',
       'Banco Sabadell', 'M.Rey Collection', 'Casa Museo De Las Pi',
       'Zapaterias 5 Hermano', 'Arq.Arquitectura Y', 'Arquitecta',
       'Escuela Preparatoria', 'Moda Infantil Maricr', 'Interjet',
       'Grupo Ambiental Robl', 'Modami', 'Los Picositos', 'Indepediente',
       'Enfermera', 'Lic.En Mercadotecni', 'Empleada Suburbia',
       'Bbva Mexico', 'Instit.Pedagogico T', 'Escuela Iipanti',
       'Poder Judicial', 'Sep Jardin De Niños'], dtype=object)

In [173]:
df.columns

Index(['clave', 'nombre_alumno', 'sexo', 'domicilio_alumno', 'colonia_alumno',
       'poblacion_alumno', 'codigo_postal_alumno', 'fecha_nacimiento_alumno',
       'nacionalidad', 'telefono_alumno', 'nivel_estudios', 'grado_estudios',
       'escuela', 'porcol', 'porins', 'nombre_madre', 'ocupacion_madre',
       'empresa_madre', 'celularm', 'telofm', 'emailm', 'nombre_padre',
       'ocupacion_padre', 'empresa_padre', 'celularp', 'telofp', 'emailp',
       'nombre_pediatra', 'telpedi', 'fecha_inscripcion', 'plan',
       'edad_alumno'],
      dtype='object')

## <font color="#f9a177">"telofm", "telofp", 'celularm', 'celularp', 'telpedi'</font>

### Interpretacion

- telofm: Telefono de la madre
- telofp: Telefono del padre
- celularm: Celular de la madre
- celularp: Celular del padre
- telpedi: Telefono del pediatra

**Procedimiento :** Se cambiara el nombre de las columnas para una mejor comprension.

In [174]:
df.rename(columns={'telofm': 'telefono_madre', 'telofp': 'telefono_padre', 'celularm': 'celular_madre', 'celularp': 'celular_padre', 'telpedi': 'telefono_pediatra'}, inplace=True)

### Tipo de dato

In [175]:
#Vamos a ver si hay datos de diferentes tipos en 'telefono_madre'
df['telefono_madre'].apply(lambda x: type(x)).value_counts()

telefono_madre
<class 'float'>    259
<class 'str'>      172
Name: count, dtype: int64

In [176]:
#Vamos a ver si hay datos de diferentes tipos en 'telefono_padre'
df['telefono_padre'].apply(lambda x: type(x)).value_counts()

telefono_padre
<class 'float'>    223
<class 'str'>      208
Name: count, dtype: int64

In [177]:
#Vamos a ver si hay datos de diferentes tipos en 'telefono_pediatra'
df['telefono_pediatra'].apply(lambda x: type(x)).value_counts()

telefono_pediatra
<class 'str'>      316
<class 'float'>    115
Name: count, dtype: int64

In [178]:
#Vamos a ver si hay datos de diferentes tipos en 'celular_madre'
df['celular_madre'].apply(lambda x: type(x)).value_counts()

celular_madre
<class 'str'>      372
<class 'float'>     59
Name: count, dtype: int64

In [179]:
#Vamos a ver si hay datos de diferentes tipos en 'celular_padre'
df['celular_padre'].apply(lambda x: type(x)).value_counts()

celular_padre
<class 'float'>    431
Name: count, dtype: int64

**Procedimiento :** Se cambiara a int las columnas pero neceistamos tener los datos en el formato correcto

### Valores faltantes

In [180]:
#Valores igual a "Nan"
df_nan = df[df['telefono_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [181]:
nulos = df['telefono_madre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'telefono_madre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'telefono_madre': 259

In [182]:
#Valores igual a "Nan"
df_nan = df[df['telefono_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [183]:
nulos = df['telefono_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'telefono_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'telefono_padre': 223

In [184]:
#Valores igual a "Nan"
df_nan = df[df['telefono_pediatra'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [185]:
nulos = df['telefono_pediatra'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'telefono_pediatra': {nulos + len(df_nan)}")

Valores faltantes en la columna 'telefono_pediatra': 115

In [186]:
#Valores igual a "Nan"
df_nan = df[df['celular_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [187]:
nulos = df['celular_madre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'celular_madre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'celular_madre': 59

In [188]:
#Valores igual a "Nan"
df_nan = df[df['celular_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]
#Valores nulos

In [189]:
nulos = df['celular_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'celular_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'celular_padre': 96

**Procedimiento :** Se reemplazara los valores faltantes

**Procedimiento :** Se completaran los registros nulos o Nan con "Telefono desconocido" para mayor claridad de los valores faltantes

'telefono_madre'

In [190]:
#Reemplazamos donde sea nulo por "Telefono desconocido"
df['telefono_madre'] = df['telefono_madre'].fillna('Telefono Desconocido')
#Reemplazamos donde sea Nan por "Telefono desconocido"
df['telefono_madre'] = df['telefono_madre'].replace({'Nan': 'Telefono desconocido', 'nan': 'Telefono desconocido', 'NaN': 'Telefono desconocido', '': 'Telefono desconocido'})

'telefono_padre'

In [191]:
#Reemplazamos donde sea nulo por "Telefono desconocido"
df['telefono_padre'] = df['telefono_padre'].fillna('Telefono Desconocido')
#Reemplazamos donde sea Nan por "Telefono desconocido"
df['telefono_padre'] = df['telefono_padre'].replace({'Nan': 'Telefono desconocido', 'nan': 'Telefono desconocido', 'NaN': 'Telefono desconocido', '': 'Telefono desconocido'})

'telefono_pediatra'

In [192]:
#Reemplazamos donde sea nulo por "Telefono desconocido"
df['telefono_pediatra'] = df['telefono_pediatra'].fillna('Telefono Desconocido')
#Reemplazamos donde sea Nan por "Telefono desconocido"
df['telefono_pediatra'] = df['telefono_pediatra'].replace({'Nan': 'Telefono desconocido', 'nan': 'Telefono desconocido', 'NaN': 'Telefono desconocido', '': 'Telefono desconocido'})

'celular_madre'

In [193]:
#Reemplazamos donde sea nulo por "Telefono desconocido"
df['celular_madre'] = df['celular_madre'].fillna('Telefono Desconocido')
#Reemplazamos donde sea Nan por "Telefono desconocido"
df['celular_madre'] = df['celular_madre'].replace({'Nan': 'Telefono desconocido', 'nan': 'Telefono desconocido', 'NaN': 'Telefono desconocido', '': 'Telefono desconocido'})

'celular_padre'

In [194]:
#Reemplazamos donde sea nulo por "Telefono desconocido"
df['celular_padre'] = df['celular_padre'].fillna('Telefono Desconocido')
#Reemplazamos donde sea Nan por "Telefono desconocido"
df['celular_padre'] = df['celular_padre'].replace({'Nan': 'Telefono desconocido', 'nan': 'Telefono desconocido', 'NaN': 'Telefono desconocido', '': 'Telefono desconocido'})

### Formato de los datos

**Procedimiento :**  Se eliminara los caracteres especiales y espacios en blanco de la columna "telefono_alumno" para poder estandarizar los datos con la funcion importada

In [195]:
#Remplazar por 'Telefono desconocido' en las columnas si el dato tiene menos de 10 digitos
df['telefono_madre'] = df['telefono_madre'].apply(lambda x: 'Telefono desconocido' if len(str(x)) < 10 or len(str(x)) > 10 else x)
df['telefono_padre'] = df['telefono_padre'].apply(lambda x: 'Telefono desconocido' if len(str(x)) < 10 or len(str(x)) > 10 else x)
df['telefono_pediatra'] = df['telefono_pediatra'].apply(lambda x: 'Telefono desconocido' if len(str(x)) < 10 or len(str(x)) > 10 else x)
df['celular_madre'] = df['celular_madre'].apply(lambda x: 'Telefono desconocido' if len(str(x)) < 10 or len(str(x)) > 10 else x)
df['celular_padre'] = df['celular_padre'].apply(lambda x: 'Telefono desconocido' if len(str(x)) < 10 or len(str(x)) > 10 else x)

In [196]:
#Estandarizamos
df['telefono_madre'] = df['telefono_madre'].apply(estandarizacion)
df['telefono_padre'] = df['telefono_padre'].apply(estandarizacion)
df['telefono_pediatra'] = df['telefono_pediatra'].apply(estandarizacion)
df['celular_madre'] = df['celular_madre'].apply(estandarizacion)
df['celular_padre'] = df['celular_padre'].apply(estandarizacion)

In [197]:
#Eliminamos espacios entre numeros(expecto de 'Numero Desconocido'), este proceso se hace para esta columna ya que la funcion estandarizcion es mas conveniente en datos de letras. Usamos la funcion limpiar_numero
df['telefono_madre'] = df['telefono_madre'].apply(lambda x: limpiar_numero(x))
df['telefono_padre'] = df['telefono_padre'].apply(lambda x: limpiar_numero(x))
df['telefono_pediatra'] = df['telefono_pediatra'].apply(lambda x: limpiar_numero(x))
df['celular_madre'] = df['celular_madre'].apply(lambda x: limpiar_numero(x))
df['celular_padre'] = df['celular_padre'].apply(lambda x: limpiar_numero(x))

In [198]:
#Tranformamos a int los datos que son distinto de 'Telefono Desconocido'
df['telefono_alumno'] = df['telefono_alumno'].apply(lambda x: int(x) if x != 'Telefono Desconocido' else x)

**Resultado**

In [199]:
df[['telefono_madre', 'telefono_padre', 'telefono_pediatra', 'celular_madre', 'celular_padre']].head()

,telefono_madre,telefono_padre,telefono_pediatra,celular_madre,celular_padre
0,Telefono Desconocido,Telefono Desconocido,5959547699,5529599596,Telefono Desconocido
1,5959543393,5519882072,5959252210,5519322865,Telefono Desconocido
2,Telefono Desconocido,5519882072,5959252210,5519322865,Telefono Desconocido
3,Telefono Desconocido,Telefono Desconocido,Telefono Desconocido,5510491891,Telefono Desconocido
4,5959238195,Telefono Desconocido,5959555296,5541178642,Telefono Desconocido

## <font color="#f9a177">"emailm", 'emailp'</font>

### Interpretacion

- emailm: Correo de la madre
- emailp: Correo del padre

**Procedimiento :** Se cambiara el nombre de las columnas para una mejor comprension.

In [200]:
df.rename(columns={'emailm': 'email_madre', 'emailp': 'email_padre'}, inplace=True)

**Resultado**

In [201]:
df[['email_madre', 'email_padre']].head()

                email_madre               email_padre
0       ctrujanom@gmail.com                       NaN
1  rosamaria-rmbo@gmail.com  rosamaria-rmbo@gmail.com
2  rosamaria.rmbo@gmail.com  rosamaria.rmbo@gmail.com
3     carmn_000@hotmail.com                       NaN
4     lauololongo@gmail.com       harrohari@gmail.com

### Tipo de dato

In [202]:
#Vamos a ver si hay datos de diferentes tipos en 'email_madre'
df['email_madre'].apply(lambda x: type(x)).value_counts()

email_madre
<class 'str'>      337
<class 'float'>     94
Name: count, dtype: int64

In [203]:
#Vamos a ver si hay datos de diferentes tipos en 'email_padre'
df['email_padre'].apply(lambda x: type(x)).value_counts()

email_padre
<class 'str'>      277
<class 'float'>    154
Name: count, dtype: int64

**Procedimiento :** Se cambiara a str las columnas

In [204]:
df['email_madre'] = df['email_madre'].astype(str)
df['email_padre'] = df['email_padre'].astype(str)

### Valores faltantes

In [205]:
#Valores igual a "Nan"
df_nan = df[df['email_madre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]

In [206]:
#Valores nulos
nulos = df['email_madre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'email_madre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'email_madre': 94

In [207]:
#Valores igual a "Nan"
df_nan = df[df['email_padre'].apply(lambda x: x == 'NaN' or x == 'Nan' or x == 'nan' or x == '')]

In [208]:
#Valores nulos
nulos = df['email_padre'].isnull().sum()
#Suma de nulos y Nan
print(f"Valores faltantes en la columna 'email_padre': {nulos + len(df_nan)}")

Valores faltantes en la columna 'email_padre': 154

**Procedimiento :** Se reemplazara los valores faltantes por "Email Desconocido"

'email_madre'

In [209]:
#Reemplazamos donde sea nulo por "Email Desconocido"
df['empresa_madre'] = df['email_madre'].fillna('Email Desconocido')
#Reemplazamos donde sea Nan por "Email Desconocido"
df['email_madre'] = df['email_madre'].replace({'Nan': 'Email Desconocido', 'nan': 'Email Desconocido', 'NaN': 'Email Desconocido', '': 'Email Desconocido'})

'email_padre'

In [210]:
#Reemplazamos donde sea nulo por "Email Desconocido"
df['email_padre'] = df['email_padre'].fillna('Email Desconocido')
#Reemplazamos donde sea Nan por "Email Desconocido"
df['email_padre'] = df['email_padre'].replace({'Nan': 'Email Desconocido', 'nan': 'Email Desconocido', 'NaN': 'Email Desconocido', '': 'Email Desconocido'})

### Ordenamos las columnas de manera coherente

#ordenar las columnas de este orden ['clave', 'nombre_alumno', 'sexo','domicilio_alumno', 'colonia_alumno','poblacion_alumno', 'codigo_postal_alumno', 'fecha_nacimiento_alumno','edad_alumno','nacionalidad', 'telefono_alumno', 'nivel_estudios', 'grado_estudios','escuela', , 'madre', 'ocupacion_madre', 'empresa_madre', 'celular_madre','telof_mdre', 'email_madre', 'padre', 'ocupacion_padre', 'empresa_padre', 'celular_padre','telofono_padre', 'email_padre', 'pediatra', 'telefono_pediatra', 'fecha_inscripcion', 'plan', 'porcol', 'porins']

In [211]:
df = df[['clave', 'nombre_alumno', 'sexo','domicilio_alumno', 'colonia_alumno','poblacion_alumno', 'codigo_postal_alumno', 'fecha_nacimiento_alumno','edad_alumno','nacionalidad', 'telefono_alumno', 'nivel_estudios', 'grado_estudios','escuela', 'nombre_madre', 'ocupacion_madre', 'empresa_madre', 'celular_madre','telefono_madre', 'email_madre', 'nombre_padre', 'ocupacion_padre', 'empresa_padre', 'celular_padre','telefono_padre', 'email_padre', 'nombre_pediatra', 'telefono_pediatra', 'fecha_inscripcion', 'plan', 'porcol', 'porins']]

In [212]:
df.head()

,clave,nombre_alumno,sexo,domicilio_alumno,colonia_alumno,poblacion_alumno,codigo_postal_alumno,fecha_nacimiento_alumno,edad_alumno,nacionalidad,...,empresa_padre,celular_padre,telefono_padre,email_padre,nombre_pediatra,telefono_pediatra,fecha_inscripcion,plan,porcol,porins
0,380728,Trujano Miranda Jonas,Masculino,5 de Mayo No. 106,Zaragoza,Texcoco. e,56110,2018-02-12,6,Mexicano,...,Empresa Desconocida,Telefono Desconocido,Telefono Desconocido,Email Desconocido,Dra. Veronica Delado,5959547699,2022-02-11,B,100,75
1,375287,San Nicolas Bustamante Santiago,Masculino,Leon Salinas No. 62,Xocotlan,Texcoco. m,56236,2007-04-19,17,Mexicano,...,Empresa Desconocida,Telefono Desconocido,5519882072,rosamaria-rmbo@gmail.com,Dra. Alejandra Muench,5959252210,2022-02-11,B,100,75
2,375127,San Nicolas Bustamante Estefania,Femenino,Leon Salinas No. 62,Fracc. Molino de fl,Xocotlan. t,56236,2013-03-27,11,Mexicana,...,Empresa Desconocida,Telefono Desconocido,5519882072,rosamaria.rmbo@gmail.com,Dra. Alejandra Muench,5959252210,2022-02-11,B,100,75
3,372346,Vizuet Gomez Diego Emiliano,Masculino,Circuito Miltenco No. 4,Cabera Municipal,Chicoloapa,56370,2013-07-15,11,Mexicano,...,Empresa Desconocida,Telefono Desconocido,Telefono Desconocido,Email Desconocido,Nombre Desconocido,Telefono Desconocido,2022-02-11,B,100,75
4,381125,Aguilar Vazquez Victoria Alejandra,Femenino,Fray Pedro de Gante No. 238 Int,San Pedro,Texcoco,56105,2018-01-12,6,Mexicana,...,Empresa Desconocida,Telefono Desconocido,Telefono Desconocido,harrohari@gmail.com,Dr. Go0ngora,5959555296,2022-02-14,B,100,75

### Guardamos el dataframe como un archivo csv

In [213]:
df.to_csv('Alumnos y padres limpio.csv', index=False)